.attendee {
  display: flex;
  width: 100%;
  height: 100vh;
}

.attendeeRemoteMedia {
  flex: 1;
}
.liveVideos {
  display: flex;
}

.contentshare {
  background: #808080;
}
.remotevideo {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #333;
  flex: 3;
}
.chatting {
  background: #292929;
  height: 100%;
  align-self: start;
  overflow: hidden;
  flex: 1;
  border-left: 1px solid #222222;
  color: #fff;
}
.spacer {
  margin-top: 12rem;
}
.localControls {
  text-align: Center;
  padding: 40px;
  background: #2d2d2d;
}

.chat {
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.attendeeLocalVideo {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.liveAttendeeLocalVideo {
  padding: 0.5rem;
}

.liveLocalVideoTitle {
  margin: 0rem 0rem 0.25rem;
}

.helpIcon {
  margin-left: 0.5rem;
}

.modal {
  outline: none;
}

.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5rem);
}
